<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- 引入公共css文件 -->
<link rel="stylesheet" type="text/css" href="/css/import.css">

<!-- IE兼容性JS -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="/plugins/compatibility/html5shiv.min.js"></script>
        <script src="/plugins/compatibility/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>错误页面</h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="error-page">
          <h2 class="headline text-yellow pull-center">尚未登录系统,请返回<a href="/login.html">登录</a></h2>
          <br>
          <div class="error-content">
            <h3 class="row">
              <i class="fa fa-warning text-yellow"><span id="errMessage"></span></i>
            </h3>
          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->

  <!-- 引入公共js文件 -->
  <script src="/js/import.js"></script>

  <script>
			$(function() {
				var errMessage = sessionStorage.getItem("errMessage");
				$("#errMessage").text("错误信息：" + errMessage);
			})
		</script>

</body>
</html>
