<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- 引入公共css文件 -->
<link rel="stylesheet" type="text/css" href="/css/import.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="/plugins/compatibility/html5shiv.min.js"></script>
        <script src="/plugins/compatibility/respond.min.js"></script>
  <![endif]-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <h1>帐号管理</h1>
      </section>

      <section class="content">
        <div class="box box-solid box-default">
          <div class="box-header with-border">
            <h3 class="box-title">帐号列表</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <table id="data_table" class="display table table-striped table-bordered table-hover table-checkable">
              <thead>
                <tr>
                  <th>帐号ID</th>
                  <th>序号</th>
                  <th>登录帐号</th>
                  <th>显示名称</th>
                  <th>账号状态</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="box-footer pull-center">
            <button id="btn_insert" type="button" class="btn btn-default btn-sm">新增</button>
            <button id="btn_update" type="button" class="btn btn-default btn-sm">修改</button>
            <button id="btn_delete" type="button" class="btn btn-default btn-sm">删除</button>
            <button id="btn_pwd" type="button" class="btn btn-default btn-sm">重置密码</button>
          </div>
        </div>
      </section>

    </div>
  </div>

  <!-- 帐号管理表单 start-->
  <form id="data_form">
    <input id="uuid" name="uuid" type="hidden" value="">
    <div class="modal fade" id="data_modal" data-backdrop="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-gray">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">表单标题</h4>
          </div>
          <div class="modal-body">
            <div class="box box-solid box-default col-md-10">
              <div class="box-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">登录账号</label>
                    <input id="accountCode" name="accountCode" type="text" maxlength="20" class="form-control"
                      placeholder="格式：只能输入6-10之间的字母、数字、下划线">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">账号名称</label>
                    <input id="accountName" name="accountName" type="text" maxlength="20" class="form-control"
                      placeholder="请输入账号的显示名称">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">密码</label>
                    <input id="password1" name="password1" type="password" maxlength="18" class="form-control"
                      placeholder="格式：只能输入6-18之间的字母、数字、下划线">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">确认密码</label>
                    <input id="password2" name="password2" type="password" maxlength="18" class="form-control"
                      placeholder="请再次输入密码">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">账号状态</label>
                    <div class="radio">
                      <input name="dataState" value="1" type="radio">
                      <label class="radio-inline">启用 </label>
                      <input name="dataState" value="0" type="radio">
                      <label class="radio-inline">停用 </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="button" id="btn_save" class="btn btn-info">保存</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- 帐号管理表单 end-->

  <!-- 修改密码表单 start-->
  <form id="data_form_pwd">
    <div class="modal fade" id="data_modal_pwd" data-backdrop="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-gray">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">表单标题</h4>
          </div>
          <div class="modal-body">
            <div class="box box-solid box-default col-md-10">
              <div class="box-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">密码</label>
                    <input id="oldPassword" name="oldPassword" type="password" maxlength="18" class="form-control"
                      placeholder="请输入密码-格式：只能输入6-18之间的字母、数字、下划线">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">密码</label>
                    <input id="newPassword1" name="newPassword1" type="password" maxlength="18" class="form-control"
                      placeholder="请输入密码-格式：只能输入6-18之间的字母、数字、下划线">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">确认密码</label>
                    <input id="newPassword2" name="newPassword2" type="password" maxlength="18" class="form-control"
                      placeholder="请再次输入密码">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="button" id="btn_save_pwd" class="btn btn-info">保存</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- 修改密码表单 end-->

  <!-- 引入公共js文件 -->
  <script src="/js/import.js"></script>
  <script src="menu.js"></script>
</body>
</html>
