<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- 引入公共css文件 -->
<link rel="stylesheet" type="text/css" href="/css/import.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="/plugins/compatibility/html5shiv.min.js"></script>
        <script src="/plugins/compatibility/respond.min.js"></script>
  <![endif]-->
<style>
/* FROM HTTP://WWW.GETBOOTSTRAP.COM
     * Glyphicons
     *
     * Special styles for displaying the icons and their classes in the docs.
     */
.bs-glyphicons {
  padding-left: 0; padding-bottom: 1px; margin-bottom: 10px; list-style: none; overflow: hidden;
}

.bs-glyphicons li {
  float: left; width: 60px; height: 60px; padding: 10px; margin: 0 -1px -1px 0; font-size: 12px; line-height: 1.4;
  text-align: center; border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
  margin-top: 5px; margin-bottom: 10px; font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
  display: block; text-align: center; word-wrap: break-word; /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
  background-color: rgba(86, 61, 124, .1);
}

@media ( min-width : 768px) {
  .bs-glyphicons li {
    width: 60px;
  }
}

#modal-body-icon {
  height: 500px; overflow-y: scroll;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">菜单管理</h3>
            <div class="box-tools pull-right">
              <button id="btn_insert" type="button" class="btn btn-default btn-sm">新增</button>
              <button id="btn_update" type="button" class="btn btn-default btn-sm">修改</button>
              <button id="btn_delete" type="button" class="btn btn-default btn-sm">删除</button>
              <button id="btn_expandOrCollapse" type="button" class="btn btn-default btn-sm">折叠</button>
            </div>
          </div>
          <div class="box-body">
            <div id="data_tree" style="height: 100%;"></div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- 表单 start  -->
  <form id="data_form">
    <input id="uuid" name="uuid" type="hidden" value="">
    <input id="parentUuid" name="parentUuid" type="hidden" value="">
    <div class="modal fade" id="data_modal" data-backdrop="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-gray">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">表单标题</h4>
          </div>
          <div class="modal-body">
            <div class="box  box-solid box-default">
              <div class="box-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group">
                      <label class="control-label required">菜单名称</label>
                      <input id="menuName" name="menuName" maxlength="20" type="text" class="form-control" placeholder="请输入菜单的显示名称">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">菜单链接</label>
                    <input id="menuLink" name="menuLink" type="text" maxlength="100" class="form-control" placeholder="请输入菜单的链接页面">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required">菜单图标</label>
                    <div class="input-group">
                      <li class="input-group-addon" style="width: 40px;"><span id="menu_icon_display"></span></li>
                      <input id="menuIcon" name="menuIcon" readonly maxlength="20" type="text" class="form-control" placeholder="请选择菜单的图标">
                      <span class="input-group-btn">
                        <button id="btn_open_icon_form" class="btn btn-default" type="button">...</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="button" id="btn_save" class="btn btn-info">保存</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- 表单 end  -->

  <!-- 表单 start  -->
  <form id="data_form_icon">
    <input id="icon_class" name="icon_class" type="hidden" value="">
    <div class="modal fade" id="data_modal_icon" data-backdrop="false" tabindex="-1">
      <div class="modal-dialog modal-lg" style="width: 60%;">
        <div class="modal-content">
          <div class="modal-header bg-gray">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">表单标题</h4>
          </div>
          <div class="modal-body" id="modal-body-icon">
            <div class="tab-pane active" id="glyphicons">
              <ul class="bs-glyphicons">
                <li style="cursor: pointer"><span class="glyphicon glyphicon-asterisk"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-plus"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-euro"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-eur"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-minus"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-cloud"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-envelope"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-pencil"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-glass"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-music"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-search"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-heart"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-star"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-star-empty"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-user"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-film"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-th-large"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-th"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-th-list"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ok"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-zoom-in"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-zoom-out"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-off"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-signal"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-cog"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-home"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-file"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-time"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-road"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-download-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-download"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-upload"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-inbox"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-play-circle"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-repeat"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-refresh"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-list-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-lock"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-flag"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-headphones"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-volume-off"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-volume-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-volume-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-qrcode"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-barcode"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tag"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tags"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-book"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bookmark"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-print"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-camera"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-font"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bold"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-italic"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-text-height"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-text-width"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-align-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-align-center"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-align-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-align-justify"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-list"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-indent-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-indent-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-facetime-video"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-picture"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-map-marker"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-adjust"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tint"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-edit"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-share"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-check"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-move"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-step-backward"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-fast-backward"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-backward"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-play"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-pause"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-stop"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-forward"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-fast-forward"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-step-forward"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-eject"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-chevron-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-plus-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-minus-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-remove-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ok-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-question-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-info-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-screenshot"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-remove-circle"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ok-circle"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ban-circle"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-arrow-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-arrow-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-arrow-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-arrow-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-share-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-resize-full"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-resize-small"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-exclamation-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-gift"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-leaf"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-fire"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-eye-open"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-eye-close"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-warning-sign"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-plane"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-calendar"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-random"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-comment"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-magnet"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-chevron-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-chevron-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-retweet"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-shopping-cart"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-folder-close"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-folder-open"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-resize-vertical"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-resize-horizontal"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hdd"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bullhorn"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bell"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-certificate"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-thumbs-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-thumbs-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hand-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hand-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hand-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hand-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-circle-arrow-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-circle-arrow-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-circle-arrow-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-globe"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-wrench"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tasks"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-filter"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-briefcase"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-fullscreen"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-dashboard"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-paperclip"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-heart-empty"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-link"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-phone"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-pushpin"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-usd"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-gbp"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort-by-alphabet"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort-by-order"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort-by-order-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort-by-attributes"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-unchecked"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-expand"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-collapse-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-collapse-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-log-in"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-flash"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-log-out"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-new-window"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-record"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-save"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-open"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-saved"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-import"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-export"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-send"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-floppy-disk"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-floppy-saved"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-floppy-remove"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-floppy-save"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-floppy-open"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-transfer"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-cutlery"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-header"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-compressed"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-earphone"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-phone-alt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tower"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-stats"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sd-video"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hd-video"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-subtitles"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sound-stereo"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sound-dolby"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sound-5-1"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sound-6-1"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sound-7-1"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-copyright-mark"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-registration-mark"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-cloud-download"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-cloud-upload"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tree-conifer"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tree-deciduous"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-cd"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-save-file"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-open-file"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-level-up"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-copy"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-paste"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-alert"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-equalizer"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-king"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-queen"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-pawn"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bishop"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-knight"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-baby-formula"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-tent"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-blackboard"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bed"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-apple"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-erase"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-hourglass"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-lamp"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-duplicate"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-piggy-bank"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-scissors"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-bitcoin"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-btc"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-xbt"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-yen"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-jpy"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ruble"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-rub"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-scale"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ice-lolly"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-ice-lolly-tasted"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-education"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-option-horizontal"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-option-vertical"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-menu-hamburger"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-modal-window"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-oil"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-grain"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-sunglasses"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-text-size"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-text-color"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-text-background"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-object-align-top"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-object-align-bottom"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-object-align-horizontal"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-object-align-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-object-align-vertical"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-object-align-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-triangle-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-triangle-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-triangle-bottom"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-triangle-top"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-console"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-superscript"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-subscript"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-menu-left"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-menu-right"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-menu-down"></span></li>
                <li style="cursor: pointer"><span class="glyphicon glyphicon-menu-up"></span></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="button" id="btn_select_icon" class="btn btn-info">选择</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- 表单 end  -->


  <!-- 引入公共js文件 -->
  <script src="/js/import.js"></script>
  <script src="menu.js"></script>

  <script type="text/javascript">
            
        </script>

</body>
</html>
